.listing{
    a.hasIcon.collapsed{
        i.fa-plus-square{display:inline-block; }
        i.fa-minus-square{display:none;}
    }
    a.hasIcon {
        i.fa-plus-square{display:none;}
        i.fa-minus-square{display:inline-block;}
    }
    .panel{
        border-top: none;
        border-left: none;
        border-right: none;
        margin-top: 0em !important;
        margin: 0em;
        padding: 0em;
        @include i-round-corners(0em);
        @include i-box-shadow(0em, 0em, 0em, 0em, #fff);
        
        .panel-heading{
            margin: 0em;
            padding: 0em;
            background-image: none;
            background-color: #fff;
            .panel-title{
                font-weight: bold;
                a i{
                    margin-right: 0.5em;
                    color: $base-main-color;
                }
            }
        }

        .panel-body{
            padding: 0em;
            .panel:first-child{
                border-top: none;
            }
            .panel:last-child{
                border-bottom: 0em;
            }
            .panel-group{
                padding-left: 3em;
                margin-bottom: 0em;
            }
            .panel{
                ul{
                    margin-bottom: 0em;
                    li{
                        margin: 0em;
                        padding-left: 3em;
                        a{
                            color: #333333;
                            font-size: 1.4em;
                            border-bottom: 1px solid $base-border-color;
                            i{
                                margin-right: 0.5em;
                                color: $base-main-color;
                            }
                        }
                    }
                    li:last-child{
                        a{
                            border-bottom: none;
                        }
                    } 
                } 
            }
        }

        a{
            font-size: 1.5em;
            display: block;
            padding: 0.8em 0em;
        }
        a:hover{
            background-color: #e5f5fb;
        }
        i{
            margin-left: 0.7em;
        }
    }
    .panel:first-child{
        border-top: 1px solid $base-border-color;
    }
    .bottomImg{
        margin-top: 2em;
        img{display: inline-block; }
    }
}

@media (max-width: 767px){
    .listing .panel a { font-size: 1.2em; position: relative; padding-left: 1.5em;}
    .listing .panel i { margin-left: 0.3em; }
    .listing .panel .panel-body .panel-group { padding-left: 1em; }
    .listing .panel a span{
        display: block;
        padding-left: 1em;
        position: relative;
        line-height: 1.4;
    }
    .listing .panel .panel-heading .panel-title a i { 
        position: absolute;
        top: 0.8em;
        left: 0px;
        margin-right: 0.3em; 
    }
    .listing .panel .panel-body .panel ul li { padding-left: 1.5em; }
    .listing .panel .panel-body .panel ul li a { 
        display: block;
        position: relative;
        font-size: 1.1em; 
        padding-left: 1.3em;
    }
    .listing .panel .panel-body .panel ul li a i {
        position: absolute;
        top: 1em;
        left: 0px;
        display: inline-block;       
    }
}


.listing-transition{
    margin-top: 30px;
    p{
        font-size:20px;
        color: $base-main-color;
        i{
            font-size: 50px;
        }
    }
}